@layer base {
  * {
    font-family: "Nunito", sans-serif;
  }

  html {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    background: var(--color-background);
    color: #000000;
  }

  body {
    font-family: "Nunito", sans-serif;
    height: 100dvh;
    width: 100dvw;
    margin: 0;
    display: flex;
  }

  #root {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    width: 100%;
  }

  input {
    &:-webkit-autofill:focus,
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 50px white inset;
      -webkit-text-fill-color: black;
      transition: background-color 5000s;
    }
  }
}

:root {
  /* Color Palette */
  --color-primary: #f4e041;
  --color-secondary: #00bdd3;
  --color-background: #f8f8f8;

  --color-hover: #ffe302;
  --color-disabled: #b4b4b4;

  --color-error: #cb3d40;

  /* Typography */
  --font-size-heading-1: 40px;
  --font-weight-heading-1: 400;
  --line-height-heading-1: 40px;

  --font-size-body: 16px;
  --font-weight-body: 400;
  --line-height-body: 26px;
}

/* Create custom text size classes */
.text-heading-1 {
  font-size: var(--font-size-heading-1);
  font-weight: var(--font-weight-heading-1);
  line-height: var(--line-height-heading-1);
}

.text-body {
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body);
  line-height: var(--line-height-body);
}
